//------------------
// PATRON DE COLORES
//------------------
$texto:#111111;
$principal:#52a4cc;
$segundario:#009500;
html {
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}
.bienvenidos {
    background: url("../images/fondo-encabezado.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed !important;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.encabezado {
    background: $texto;
    color: #fff;
    padding: .5rem 0;
    transition: all 1s ease;
}

/*estilos para que cambie apariencia del menul al hacer scroll*/

.encabezado.fondo-menu {
    background: #3d7590;
    padding: 1rem 0;
}
.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.encabezado .logo img {
    width: 150px;
    height: auto;
}
//------------------
// Estilos para el boton buscar y menú
//------------------
.boton-buscar,
.boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}
.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}
.boton-buscar {
    margin-left: auto;
    margin-right: .8rem;
}
//------------------
// Estilos bloques buscar
//------------------
#bloque-buscar {
    flex: 1 1 100%;
}
.contenedor-bloque-buscar {
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}
.contenedor-bloque-buscar input[type="text"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
}
.contenedor-bloque-buscar input[type="submit"] {
    flex: 0 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
    padding: 0 .5rem;
}
#menu-principal {
    flex: 1 1 100%;
}
#menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}
#menu-principal ul a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #696976;
    text-decoration: none;
}
#menu-principal ul a:hover,
#menu-principal ul li.active a {
    color: $principal;
}
//------------------
// Texto encabezado
//------------------
.texto-encabezado {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.texto-encabezado,
.display-4 {
    margin-top: 4rem;
}
.texto-encabezado .btn-primary {
    margin-top: 1rem;
}
.btn-primary {
    color: #fff;
    background-color: $principal;
    border-color: transparent;
    transition: all .5s ease;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
    background-color: black;
    border-color: transparent;
}
.flecha-bajar a {
    display: inline-block;
    color: #fff;
    font-size: 2.5rem;
    animation: flecha-animada 1s ease-in-out infinite;
}
@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}
//------------------
// Sección agencia
//------------------
.agencia {
    background: $principal;
    color: #fff;
    ;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.agencia img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
//------------------
// Sección tu mejor elección
//------------------
.tu-mejor-eleccion {
    background: #fff;
    color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.tu-mejor-eleccion h2 span {
    color: $principal;
}
.tu-mejor-eleccion ul,
.tu-mejor-eleccion ul li {
    list-style: none;
}
.tu-mejor-eleccion ul li .fas,
.tu-mejor-eleccion ul li .fab {
    list-style: none;
    font-size: 2.3rem;
    background: $segundario;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
}
.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem;
}

/*mejora la uniformidad de los bloques iconos*/

.tu-mejor-eleccion ul li {
    min-height: 9rem;
}
//-----------------------------
// Sección nuestros servicios
//-----------------------------
.servicios {
    background: blue;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.servicios {
    background: url("../images/servicios.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed !important;
    color: #fff;
}
.servicios article {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.servicios img {
    flex: 0 0 60px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    margin-right: 1rem;
}
.servicios h3 {
    margin: 0;
    font-size: 1.1rem;
    flex: 1 1 auto;
}
.servicios h3 a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.servicios h3 a .fa-chevron-right {
    font-size: 2rem;
    margin-left: 1rem;
    opacity: .5;
    position: relative;
    left: 0;
    transition: all .5s ease;
}
.servicios h3 a:hover .fa-chevron-right {
    left: -.5rem;
    opacity: 1;
    color: $principal;
}
//-----------------------------
// Últimos proyectos
//-----------------------------
.ultimos-proyectos {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.ultimos-proyectos h2 {
    color: $texto;
    margin-top: 1rem;
}
.ultimos-proyectos a {
    text-decoration: none;
}
.ultimos-proyectos a h4 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: $texto;
}
.ultimos-proyectos .container {
    padding-left: 0;
    padding-right: 0;
}
.ultimos-proyectos .owl-nav {
    display: flex;
    justify-content: center;
    margin: 1rem 1px;
}
.ultimos-proyectos .fa-arrow-circle-left,
.ultimos-proyectos .fa-arrow-circle-right {
    font-size: 3rem;
    margin: 0 .5rem;
    color: $principal;
    transition: all .5s ease;
}
.ultimos-proyectos .fa-arrow-circle-left:hover,
.ultimos-proyectos .fa-arrow-circle-right:hover {
    color: $segundario;
}
.ultimos-proyectos .owl-prev:focus,
.ultimos-proyectos .owl-next:focus {
    outline: none;
}
//-----------------------------
// Sección pié de página
//-----------------------------
.piedepagina {
    background: $texto;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: .9rem;
}
.piedepagina .redes-sociales {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.piedepagina .redes-sociales a {
    color: #fff;
    font-size: 2rem;
    margin: 0 .5rem;
    opacity: .7;
    transition: all .5s ease;
}
.piedepagina .redes-sociales a:hover {
    opacity: 1;
}
.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: $principal;
    z-index: 99999;
    line-height: 0;
    display: none;
    transition: all .5s ease;
}
.ir-arriba:hover,
.ir-arriba:focus,
{
    outline: 0;
    text-decoration: none;
    color: #fff;
}
//-----------------------------
// Estilos página Nosotros
//-----------------------------
.paginas-internas .bienvenidos {
    height: 50vh;
}
.paginas-internas .ruta {
    background: $principal;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
}
.paginas-internas .ruta a {
    color: #fff;
    text-decoration: underline;
}
.paginas-internas .ruta a:hover {
    text-decoration: none;
}
.menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.paginas-internas .card-header {
    padding: 0rem 0rem;
}
.paginas-internas .card h4 {
    font-size: 1.2rem;
}
.paginas-internas .card h4 a {
    background: $principal;
    color: #fff;
    display: block;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}
.paginas-internas .card h4 a:hover {
    background: $segundario;
}
.paginas-internas .foto img {
    height: 323px;
    width: 288px;
    margin: 2rem 1rem 0 0;
}
//-----------------------------
// Estilos página Servicios
//-----------------------------
.paginas-internas .lista-servicios {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $segundario;
}
.paginas-internas .lista-servicios .item-servicios {
    background: #fff;
    text-align: center;
    border: 5px solid #057705;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}
.paginas-internas .lista-servicios .item-servicios .fab {
    font-size: 6rem;
    color: $principal;
    margin-bottom: 1rem;
    transition: all 1s ease;
}
.paginas-internas .lista-servicios .item-servicios:hover .fab {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}
//-----------------------------
// Estilos página Contacto
//-----------------------------
.paginas-internas .contacto {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
//-----------------------------
// Se empiezan las medias queries
//-----------------------------
@media (min-width: 768px) {
    .bienvenidos {
        background: url("../images/fondo-encabezado-tableta.jpg") no-repeat center top;
        background-size: cover;
    }
    #menu-principal {
        flex: 1 1 100%;
        height: auto !important;
        display: block;
        flex: 0 1 auto;
        margin-left: auto;
        order: 1;
    }
    #menu-principal ul {
        display: flex;
        margin: 0 0 0 0;
    }
    #menu-principal ul li a {
        padding: .8rem;
        text-transform: capitalize;
        margin: 0 .3rem;
        border-top: 0px;
        border-bottom: 4px solid transparent;
        transition: all .5s ease;
    }
    #menu-principal ul li.active a,
    #menu-principal ul li a:hover {
        color: $principal;
        border-bottom: 4px solid;
    }
    .boton-buscar {
        margin-left: 1rem;
        margin-right: 0;
        order: 2;
    }
    #bloque-buscar {
        order: 3;
        position: absolute;
        width: 20rem;
        right: 3rem;
        top: 2.8rem;
        transition: all .5s ease;
    }
    //-----------------------------
    // Sección servicios
    //-----------------------------
    .servicios article {
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .servicios img {
        width: 128px;
        flex: 0 0 160px;
        overflow: hidden;
        margin-right: 0;
        margin-bottom: 1rem;
        transition: all 1s ease;
    }
    .servicios article:hover img {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
    }
    .servicios h3 a .fa-chevron-right {
        display: none;
    }
    .servicios h3 {
        margin: 0 0 .5rem 0;
        font-size: 1.5rem;
        flex: 0 1 auto;
        width: 100%;
    }
    .servicios h3 a {
        display: block;
        width: 100%;
    }
    .servicios p {
        width: 100%;
    }
    .servicios .btn-secondary {
        margin-top: auto;
    }
    /*página servicios*/
    .paginas-internas .lista-servicios .col-md-4 {
        display: flex;
    }
    .paginas-internas .lista-servicios .item-servicios {
        display: flex;
        flex-direction: column;
    }
    .paginas-internas .btn-primary {
        margin-top: auto;
    }
}
//-----------------------------
// Se empiezan las medias queries en laptop
//-----------------------------
@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
    .bienvenidos {
        background: url("../images/fondo-encabezado-grande-3.jpg") no-repeat center top;
        background-size: cover;
    }
    .tu-mejor-eleccion ul li {
        display: flex;
        min-height: 7rem;
    }
    .tu-mejor-eleccion ul li .fas,
    .tu-mejor-eleccion ul li .fab {
        text-align: center;
        flex: 0 1 auto;
        margin-right: 1rem;
        transition: all 1s ease;
    }
    .tu-mejor-eleccion ul li:hover .fas,
    .tu-mejor-eleccion ul li:hover .fab {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
        background: $principal;
    }
    .contenedor-eleccion {
        flex: 1 0 0px;
    }
    .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
        margin-top: 0;
        font-size: 1rem;
    }
    .tu-mejor-eleccion ul:first-child .fas,
    .tu-mejor-eleccion ul:first-child .fab {
        order: 1;
        max-resolution: 0;
        margin-left: 1rem;
    }
    .tu-mejor-eleccion ul li p {
        font-size: .85rem;
    }
}
