


body{
 font-size: 1.2em Arial; 
 background: rgb(22, 21, 20);
 /*background-color: white;*/
 width: 800px;
 margin: auto;
 padding: 2em;
}
.cabecera{
  height: 100px;
  color: white;
  background-color: #D3D3D3;
}
h1{
  padding-bottom: 2em;
  border-bottom: none;
  font-size: 25px;
  margin: 0;
  padding: 5px 0 .3em;
  line-height: 32px;
  text-align: center;
  color: white;
}

h2{
  padding-bottom: 2em;
  border-bottom: none;
  font-size: 14px;
  margin: 0;
  padding: 5px 0 .3em;
  line-height: 32px;
  text-align: justify;
  color: white;
}

p{
  text-align: justify;
  color: white;
  margin: 0;
  background-color: #0000FF;
  padding: 1em;
}

img[src]{
  width: 600px;
  padding: 2em;
  background-color: #0000FF;
  margin: auto;

}

p span{
  color: black;
  font-weight: bold;
}


.footer{
  height: 100px;
  color: white;
  background-color: #D3D3D3;
  text-align: center;

}