body{
 font-size: 1.2em Arial; 
 /*background: rgb(22, 21, 20);*/
 background-color: #F0EFE2;
 width: 800px;
 margin: auto;
 padding: 2em;
}
.cabecera{
  height: 100px;
  width: 878px;
  color: white;
  background-color: #D3D3D3;
  background-color: #29425E;
}
h1{
  padding-bottom: 2em;
  border-bottom: none;
  font-size: 25px;
  margin: 0;
  padding: 5px 0 .3em;
  line-height: 32px;
  text-align: center;
  color: blue;
}

h2{
  padding-bottom: 2em;
  border-bottom: none;
  font-size: 14px;
  margin: 0;
  padding: 5px 0 .3em;
  line-height: 32px;
  text-align: justify;
  color: blue;
}

p{
  text-align: justify;
  color: black;
  margin: 0;
  padding: 1em;
}

img{
  width: 600px;
  padding: 2em;
  margin: auto;
  

}

p span{
  color: black;
  font-weight: bold;
}


/*#footer{
  height: 100px;
  color: white;
  background-color: #D3D3D3;
  text-align: center;

}
*/

#footer{ 
  width: 878px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #29425E url(footer.png) repeat-x;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
